
.row{
    margin: auto;
    width: 90%;
    border: 1px solid green;
    padding: 10px;
    .editorArea{
        margin: auto;
        width: 90%;
        border: 1px solid green;
        padding: 10px;
    }
}