.filters_wrapper {
  width: 100%;
  position: relative;
  background-color: transparent;
  background-color: #eff1f3;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}
.filters_wrapper .title {
  padding-left: 15px;
  padding-top: 15px;
  font-weight: 500;
  margin-top: 5px;
  text-transform: uppercase;
  color: #738f93;
}
.filters_wrapper .all_filters {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}
.filter {
  width: fit-content;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: #4aa1ff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.filter:hover {
  padding: 5px 12px;
  background-color: #3494fa;
}
.expender {
  position: absolute;
  right: 10px;
  bottom: 18px;
  font-size: 12px;
  /* border: 1px solid black; */
  background: radial-gradient(#ccc4c4, transparent);
  cursor: pointer;
}
/* .expender i {
  font-size: 33px;
  width: 33px;
  height: 33px;
  color: #000;
} */
