.editorArea{
    margin: auto;
    width: 100%;
    border: 1px solid green;
    padding: 10px;
    height: 350px;
}

.SideContainer {
    width: 50px;
    max-height : 100vh;
    overflow-y: scroll;
}



