.editor_area {
    width: 98%;
    height: 500px;
}
.output_area {
    width: 98%;
    height: 500px;
}
.menu-bar {
    width: 98%;
    height: 50px;
    background-color: #c5c5c5;
    margin: auto;
}
