:root{
    --mainDark: #343a40;
    --mainGrey: rgba(109,109,109);
    --mainLightGrey: rgba(172,172,172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}
.footer-middle{
    margin: 0;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
    background: var(--mainDark);
    color: var(--mainWhite);
}
li {
    margin: 0;
    padding: 0.2em;
}
ul{
    margin:0;
}
h1 a:hover,
ul li a:hover,
h7 a:hover{
    color:var(--mainLightGrey);
}
h7{
    margin-bottom: 5rem;
}

