
.editor_area{
  height: 500px;
}
.codeArea{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}
.userLogin{
  text-align: right;
}
.textarea{
  position: relative;
  width: 100%;
  height: 200px;  
  padding: 20px;
}

.multi-input {
  width: 200px;
  height: 100px;

}
.loader {
  position: relative;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 100px;
  border: 20px solid;
  border-top-color:  rgb(11, 39, 133);
  border-bottom-color: rgb(90, 204, 90);
  border-right-color: rgb(73, 52, 167);
  border-left-color: rgb(212, 28, 28);
  border-radius: 50%;
  animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
      transform: translate(-50%,-50%) rotate(0deg);
  }
  to {
      transform: translate(-50%,-50%) rotate(360deg);
  }
}

li{
  padding: 20px;
}
a{
  color: aliceblue;
  text-decoration: none;
}
a:hover{
  color: rgb(0, 255, 0);
}
